[profile.release]
opt-level = 3
lto = "thin"
codegen-units = 1
panic = "abort"

[profile.dev]
opt-level = 1
panic = "abort"
incremental = true

[package]
name = "HytaleRS"
version = "0.1.0"
edition = "2024"

[dependencies]
